@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicando a animação 'aparecer' em todas as sessões */

/* Sessão '.inicio' */
.inicio {
  display: flex;
  max-width: 100vw;
  max-height: 600px;
  animation: aparecer 1s ease-out; /* Aplicando a animação 'aparecer' na sessão 'inicio' */
  animation-delay: 0.5s; /* Adicionando um pequeno atraso para dar tempo de visualização */
}

/* Sessão '.promocao' */
.promocao {
  margin-top: 18%;
  margin-bottom: 20%;
  margin-left: 2.5vw;
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  cursor: pointer;
  animation: aparecer 1s ease-out; /* Aplicando a animação 'aparecer' na sessão 'promocao' */
  animation-delay: 0.5s; /* Adicionando um pequeno atraso para dar tempo de visualização */
}

/* Sessão '.novo1' */
.novo1 {
  display: flex;
  max-height: 550px;
  margin-bottom: 0.3%;
  animation: aparecer 1s ease-out; /* Aplicando a animação 'aparecer' na sessão 'novo1' */
  animation-delay: 0.5s; /* Adicionando um pequeno atraso para dar tempo de visualização */
}

/* Sessão '.novo2' */
.novo2 {
  display: flex;
  max-height: 550px;
  margin-bottom: 23.55%;
  animation: aparecer 1s ease-out; /* Aplicando a animação 'aparecer' na sessão 'novo2' */
  animation-delay: 0.5s; /* Adicionando um pequeno atraso para dar tempo de visualização */
}

/* Sessão '.novo3' */
.novo3 {
  display: flex;
  max-height: 550px;
  animation: aparecer 1s ease-out; /* Aplicando a animação 'aparecer' na sessão 'novo3' */
  animation-delay: 0.5s; /* Adicionando um pequeno atraso para dar tempo de visualização */
}

/* Sessão '.produtos' */
.produtos {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 2.5vw;
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  cursor: pointer;
  animation: aparecer 1s ease-out; /* Aplicando a animação 'aparecer' na sessão 'produtos' */
  animation-delay: 0.5s; /* Adicionando um pequeno atraso para dar tempo de visualização */
}
