@media screen and (min-width: 768px) {
  header {
    display: flex;
    padding: 0;
    max-width: 1200px;
  }

  #logo {
    display: flex;
    margin-top: 10px;
    margin-left: -5rem;
    transform: translateX(16rem);
    font-size: 2.2rem;
  }

  nav {
    display: none;
    top: 50px;
    right: 0;
    width: 100%;
    padding: 10px;
  }

  nav.active {
    display: block;
  }

  .material-symbols-outlined {
    position: fixed;
    display: flex;
    margin-top: 16px;
    font-size: 50px;
  }

  nav ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -16.5rem;
    background-color: rgb(244, 243, 243);
    padding: 10px 20px 0px 0px;
    list-style: none;
    z-index: 4;
  }

  nav li {
    margin-right: -1rem;
    font-size: 1.2rem;
  }

  nav a {
    font-weight: bolder;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    transition: background-color 0.3s;
  }

  .home {
    display: flex;
    margin-top: 50px;
  }

  #modelos {
    display: flex;
    background-color: rgb(244, 243, 243);
    border-radius: 10px;
    width: 25rem;
    margin-left: 5rem;
    height: auto;
  }

  #pote {
    display: flex;
    background-color: rgb(244, 243, 243);
    border-radius: 10px;
    width: 13rem;
    height: 10rem;
    margin-top: 145px;
    position: absolute;
    left: calc((100% - -23rem) / 2);
  }

  #txt-home {
    font-size: 4vw;
    margin-top: 120px;
    margin-left: 3rem;
    text-align: center;
  }
  #txt-home h3,
  h4 {
    font-weight: 500;
  }

  #container-kits {
    max-width: 1024px;
    margin-left: 20rem;
  }

  .kits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
  }

  .kits div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .kits img {
    width: 20rem;
    height: 23rem;
    background-color: rgb(244, 243, 243);
    object-fit: contain;
  }

  #bugado {
    margin-top: 160px;
    height: 24.5rem;
  }

  .kits p {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin-top: 35px;
  }

  div#h2-kits {
    display: none;
  }

  .novidade1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    transform: translateX(12rem);
    align-items: center;
  }

  #skincare-novidade1 {
    width: 30rem;
    margin-left: 10.5rem;
  }

  #modelo-novidade1 {
    display: flex;
    margin-left: -50rem;
    margin-top: -2;
    height: 20rem;
    transform: translateX(8rem);
  }

  #btn-novidade1 {
    text-align: center;
    transform: translateX(-14rem);
    margin-top: 250px;
  }

  #btn-novidade1 a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    display: inline-block;
    background-color: rgb(244, 243, 243);
    border-radius: 20px;
    padding: 10px;
  }

  .novidade2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(13.5rem);
  }

  #creme-novidade2 {
    width: 30rem;
    margin-left: 9.85rem;
  }

  #modelo-novidade2 {
    display: flex;
    transform: translateX(-13rem);
    z-index: 2;
  }

  #btn-novidade2 {
    text-align: center;
    transform: translateX(-17rem);
    margin-top: 10rem;
  }

  #btn-novidade2 a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    display: inline-block;
    background-color: rgb(244, 243, 243);
    border-radius: 20px;
    padding: 10px;
  }

  .novidade3 {
    margin: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #kitmasculino-novidade3 {
    width: 30rem;
    margin-top: 15px;
    margin-left: 11.8rem;
    transform: translateX(36.3rem);
  }

  #modelo-novidade3 {
    display: flex;
    transform: translateX(-5rem);
    height: 19.5rem;
    z-index: 3;
  }

  #btn-novidade3 {
    text-align: center;
    transform: translateX(-41.5rem);
    margin-top: 12rem;
    z-index: 4;
    white-space: nowrap;
  }

  #btn-novidade3 a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    display: inline-block;
    background-color: rgb(244, 243, 243);
    border-radius: 20px;
    padding: 10px;
  }

  #container-produtos {
    max-width: 1024px;
    margin: 0 auto;
    margin-left: 17rem;
  }

  .produtos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }

  .produtos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .produtos img {
    width: 22rem;
    height: 18rem;
    background-color: white;
    object-fit: contain;
  }

  .produtos p {
    margin-top: 220px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: rgb(244, 243, 243);
  }

  #btn-produtos {
    text-align: center;
    transform: translateX(2rem);
    margin-top: 1110px;
    z-index: 6;
  }

  #btn-produtos a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    display: inline-block;
    background-color: rgb(244, 243, 243);
    border-radius: 20px;
    padding: 60px;
  }

  #container-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sobre {
    width: 100%;
    max-width: 1200px; /* Define uma largura máxima para o conteúdo */
    padding: 20px;
    text-align: center;
    border: none;
  }

  .sobre h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .sobre p {
    border: none;
    border-top: 1px solid;
    padding-top: 1rem;
    font-size: 1.5rem;
  }
}
